openapi: 3.2.0
info:
  title: Databento Symbology API
  version: '1.0'
  description: 'Operations tagged Symbology across 2 of this provider''s published API definitions: databento-openapi.yml, databento-platform-openapi-official.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://hist.databento.com/v0
  description: Databento Historical and Reference HTTP API
tags:
- name: Symbology
  description: Resolve symbols across Databento symbology systems.
paths:
  /symbology.resolve:
    post:
      operationId: symbologyResolve
      tags:
      - Symbology
      summary: Resolve symbols
      description: Resolves a list of symbols from one symbology type to another for a dataset over a date range - for example mapping raw symbols to instrument IDs, or continuous contract references to raw symbols.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - dataset
              - symbols
              properties:
                dataset:
                  type: string
                symbols:
                  type: string
                stype_in:
                  type: string
                stype_out:
                  type: string
                start_date:
                  type: string
                  format: date
                end_date:
                  type: string
                  format: date
      responses:
        '200':
          description: A mapping of input symbols to resolved symbols with validity intervals.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
      security:
      - apiKeyBasicAuth: []
    servers:
    - url: https://hist.databento.com/v0
      description: Databento Historical and Reference HTTP API
  /v0/symbology.resolve:
    post:
      tags:
      - Symbology
      summary: Post Resolve Symbology Mappings
      operationId: post_resolve_symbology_mappings_v0_symbology_resolve_post
      security:
      - HTTPBasic: []
      parameters:
      - name: retry
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Retry
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_post_resolve_symbology_mappings_v0_symbology_resolve_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - Symbology
      summary: Get Resolve Symbology Mappings
      operationId: get_resolve_symbology_mappings_v0_symbology_resolve_get
      security:
      - HTTPBasic: []
      parameters:
      - name: dataset
        in: query
        required: true
        schema:
          type: string
          title: Dataset
      - name: symbols
        in: query
        required: true
        schema:
          type: string
          title: Symbols
      - name: stype_in
        in: query
        required: true
        schema:
          type: string
          title: Stype In
      - name: stype_out
        in: query
        required: true
        schema:
          type: string
          title: Stype Out
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          title: Start Date
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: End Date
      - name: symbol
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Symbol
      - name: retry
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Retry
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  responses:
    ValidationError:
      description: The request parameters failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        detail:
          type: string
          description: A human-readable description of the error.
        case_id:
          type: string
          description: An identifier for the error case, useful when contacting support.
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    Body_post_resolve_symbology_mappings_v0_symbology_resolve_post:
      properties:
        dataset:
          type: string
          title: Dataset
        symbols:
          type: string
          title: Symbols
        stype_in:
          type: string
          title: Stype In
        stype_out:
          type: string
          title: Stype Out
        start_date:
          type: string
          title: Start Date
        end_date:
          anyOf:
          - type: string
          - type: 'null'
          title: End Date
        symbol:
          anyOf:
          - type: string
          - type: 'null'
          title: Symbol
      type: object
      required:
      - dataset
      - symbols
      - stype_in
      - stype_out
      - start_date
      title: Body_post_resolve_symbology_mappings_v0_symbology_resolve_post
  securitySchemes:
    apiKeyBasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Supply your Databento API key (prefixed with db-) as the username and leave the password empty.
    OAuth2PasswordBearerWithCookie:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /v0/auth/login
    HTTPBasic:
      type: http
      scheme: basic
x-refined-from:
- databento-openapi.yml
- databento-platform-openapi-official.json
