openapi: 3.2.0
info:
  title: Databento Timeseries API
  version: '1.0'
  description: 'Operations tagged Timeseries across 2 of this provider''s published API definitions: databento-openapi.yml, databento-platform-openapi-official.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://hist.databento.com/v0
  description: Databento Historical and Reference HTTP API
tags:
- name: Time Series
  description: Stream historical records for a symbol set over a time range.
paths:
  /timeseries.get_range:
    get:
      operationId: timeseriesGetRange
      tags:
      - Time Series
      summary: Get timeseries range
      description: Streams historical records for the given dataset, symbols, schema, and time range as an HTTP streaming response in DBN, CSV, or JSON. Billed per byte streamed. The same operation also accepts POST for large symbol lists.
      parameters:
      - name: dataset
        in: query
        required: true
        schema:
          type: string
        example: GLBX.MDP3
      - name: symbols
        in: query
        schema:
          type: string
        example: ESH4
      - name: schema
        in: query
        schema:
          type: string
        example: trades
      - name: start
        in: query
        required: true
        schema:
          type: string
        example: '2024-02-12'
      - name: end
        in: query
        schema:
          type: string
        example: '2024-02-17'
      - name: stype_in
        in: query
        schema:
          type: string
          enum:
          - raw_symbol
          - instrument_id
          - parent
          - continuous
      - name: stype_out
        in: query
        schema:
          type: string
      - name: encoding
        in: query
        schema:
          type: string
          enum:
          - dbn
          - csv
          - json
      - name: compression
        in: query
        schema:
          type: string
          enum:
          - none
          - zstd
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: A stream of records in the requested encoding.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
      security:
      - apiKeyBasicAuth: []
    post:
      operationId: timeseriesGetRangePost
      tags:
      - Time Series
      summary: Get timeseries range (POST)
      description: Same as the GET form, accepting parameters as a form body for large symbol lists.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                dataset:
                  type: string
                symbols:
                  type: string
                schema:
                  type: string
                start:
                  type: string
                end:
                  type: string
                encoding:
                  type: string
      responses:
        '200':
          description: A stream of records in the requested encoding.
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - apiKeyBasicAuth: []
    servers:
    - url: https://hist.databento.com/v0
      description: Databento Historical and Reference HTTP API
  /v0/timeseries.get_range:
    post:
      tags:
      - Time Series
      summary: Post Get Range
      operationId: post_get_range_v0_timeseries_get_range_post
      security:
      - HTTPBasic: []
      parameters:
      - name: retry
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Retry
      - name: user-agent
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: User-Agent
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_post_get_range_v0_timeseries_get_range_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - Time Series
      summary: Get Range
      operationId: get_range_v0_timeseries_get_range_get
      security:
      - HTTPBasic: []
      parameters:
      - name: dataset
        in: query
        required: true
        schema:
          type: string
          title: Dataset
      - name: start
        in: query
        required: true
        schema:
          type: string
          title: Start
      - name: end
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: End
      - name: symbols
        in: query
        required: false
        schema:
          type: string
          default: ALL_SYMBOLS
          title: Symbols
      - name: stype_in
        in: query
        required: false
        schema:
          type: string
          default: raw_symbol
          title: Stype In
      - name: stype_out
        in: query
        required: false
        schema:
          type: string
          default: instrument_id
          title: Stype Out
      - name: schema
        in: query
        required: false
        schema:
          type: string
          default: trades
          title: Schema
      - name: encoding
        in: query
        required: false
        schema:
          type: string
          default: csv
          title: Encoding
      - name: compression
        in: query
        required: false
        schema:
          type: string
          default: none
          title: Compression
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Limit
      - name: pretty_px
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Pretty Px
      - name: pretty_ts
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Pretty Ts
      - name: map_symbols
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Map Symbols
      - name: symbol
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Symbol
      - name: retry
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Retry
      - name: user-agent
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: User-Agent
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  responses:
    ValidationError:
      description: The request parameters failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        detail:
          type: string
          description: A human-readable description of the error.
        case_id:
          type: string
          description: An identifier for the error case, useful when contacting support.
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    Body_post_get_range_v0_timeseries_get_range_post:
      properties:
        dataset:
          type: string
          title: Dataset
        start:
          type: string
          title: Start
        end:
          anyOf:
          - type: string
          - type: 'null'
          title: End
        symbols:
          type: string
          title: Symbols
          default: ALL_SYMBOLS
        stype_in:
          type: string
          title: Stype In
          default: raw_symbol
        stype_out:
          type: string
          title: Stype Out
          default: instrument_id
        schema_:
          type: string
          title: Schema
          default: trades
        encoding:
          type: string
          title: Encoding
          default: csv
        compression:
          type: string
          title: Compression
          default: none
        pretty_px:
          type: boolean
          title: Pretty Px
          default: false
        pretty_ts:
          type: boolean
          title: Pretty Ts
          default: false
        map_symbols:
          type: boolean
          title: Map Symbols
          default: false
        limit:
          anyOf:
          - type: string
          - type: 'null'
          title: Limit
        symbol:
          anyOf:
          - type: string
          - type: 'null'
          title: Symbol
      type: object
      required:
      - dataset
      - start
      title: Body_post_get_range_v0_timeseries_get_range_post
  securitySchemes:
    apiKeyBasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Supply your Databento API key (prefixed with db-) as the username and leave the password empty.
    OAuth2PasswordBearerWithCookie:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /v0/auth/login
    HTTPBasic:
      type: http
      scheme: basic
x-refined-from:
- databento-openapi.yml
- databento-platform-openapi-official.json
